<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <%- include('../partials/head'); %>
  </head>
  <header><%- include('../partials/header'); %></header>
  <body>
    <div class="">
      <div class="detail">
        <img src="../../img/thakali.jpg" width="380px" class="shop-item-image" />
        <div class="detail-spec">
          <h1 class="shop-item-title"><%= data.name%></h1>
          <h2>Nepali Origin</h2>
          <h2 class="shop-item-price">$<%= data.price %></h2>
          <input
            type="button"
            class="btn btn-primary shop-item-button"
            value="add to cart"
          />
        </div>
      </div>
      <div>
        <h1>Description</h1>
        <P class="detail-des"
          >Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.</P
        >
        <h1>Ingredients</h1>
        <ul>
          <li>1 tbspvegetable oil</li>

          <li>1.5 litres(6 cups) chicken stock</li>

          <li>300 gskinless chicken thigh fillet</li>

          <li>300 grice noodles</li>

          <li>100 gcarrot, cut into thin matchsticks</li>

          <li>½red capsicum, thinly sliced</li>
          <li>1 tbsplemon juice</li>

          <li>salt and pepper, to taste</li>

          <li>chopped coriander, to serve</li>
        </ul>
      </div>
    </div>
  </body>
</html>
